---
layout: default
title: Tags
description: All tags
---

<h1>{{ page.title }}</h1>

{% include all_tags.html %}
<hr>

    {{ page.path }}
<div class="pagination-container">
   
    {% for tag in site.tags %}
    <div style="margin-top:33px">
      <ul>
        {% for post in site.tags[tag | slugify] %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          </br>
          <i>{{ post.date | date_to_string }}</i>
          </br>
          {{ post.description }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <hr>
    {% endfor %}
</div>
<hr>
