<div class="f-dropdown">
    <img src="/data/icons/FA-translation.svg" alt="Change language"/>

    <div class="f-dropdown__content">
        {% for lang in site.languages %}
        <a class="f-dropdown__option" onclick="t('{{ lang }}')">{{ lang }}</a>
        {% endfor %}
    </div>
</div>

<!--<label for="lang-switcher"></label>-->
<!--
<select id="lang-switcher" onchange="selectLang()" class="f-select">
    {% for lang in site.languages %}
    <option value="{{ lang }}">{{ lang }}</option>
    {% endfor %}
</select>
-->