<nav id="menu" class="nav menu menu--closed">
  <!--
  {% comment %}
  <a href="/" class="nav-item {% if page.url == '/' %}nav-item--active{% endif %}">
    {% include components/i18n.html code = 'home' %}
  </a>
  {% endcomment %}
  -->
  <a href="/posts" class="nav-item {% if page.url contains '/posts' %}nav-item--active{% endif %}">
    {% include components/i18n.html code = 'posts' %}
  </a>
  <a href="/bookmarks" class="nav-item {% if page.url contains '/bookmarks' %}nav-item--active{% endif %}">
    {% include components/i18n.html code = 'bookmarks' %}
  </a>
  <a href="/about" class="nav-item {% if page.url contains '/about' %}nav-item--active{% endif %}">
    {% include components/i18n.html code = 'about' %}
  </a>
</nav>