<nav class="menu">
  LANG: {{ lang }}
  <a href="/" class="menu-item {% if page.url == '/' %}menu-item--active{% endif %}">
    {% raw %}{{ translations.home[lang] }}{% endraw %}
  </a>
  <a href="/posts" class="menu-item {% if page.url == '/posts/' %}menu-item--active{% endif %}">
    {{ site.data.translations.posts[lang] }}
  </a>
  <a href="/tags" class="menu-item {% if page.url == '/tags/' %}menu-item--active{% endif %}">
    {{ site.data.translations.tags[lang] }}
  </a>
  <a href="/about" class="menu-item {% if page.url == '/about/' %}menu-item--active{% endif %}">
    {{ site.data.translations.about[lang] }}
  </a>
</nav>