@import "vars";
@import "mixins";
@import "highlight";
@import "pages/posts";
@import "pages/tag_posts";
@import "components/author";

body {
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: map-get($fontSize, 'default');
  color: $colorBlack;
  display: flex;

  @include breakpoint-mobile {
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $colorGray0;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: $colorGray1;
}

.header {
  height: 4em;
  display: flex;
  align-items: center;
  padding: 1em 2em;
  background: $colorPrimary;
  color: $colorWhite;

  @include breakpoint-desktop {
    display: none;
  }

  @include shadow-default;

  img {
    height: 2em;
    margin-right: 2em;
  }

  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__close {
    width: 2.4em;
    height: 2.4em;
    position: relative;
    margin-right: 2em;
  }

  &__toggle {
    z-index: 2;
    position: absolute;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:before,
    &:after,
    div {
      //background: $colorBlack;
      background: $colorWhite;
      content: "";
      display: block;
      height: 4px;
      border-radius: 2px;
      margin: 7px 0;
      transition: 0.3s;
    }

    &--active:before {
      transform: translateY(12px) rotate(135deg);
    }
    &--active:after {
      transform: translateY(-10px) rotate(-135deg);
    }
    &--active div {
      transform: scale(0);
    }
    &--active:before,
    &--active:after,
    &--active div {
      //background: $colorWhite;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
  transition: visibility 0.2s;

  &--closed {
    display: none;
  }
}

.navigation {
  z-index: 5;
  background: $colorPrimary;
  color: $colorWhite;
  display: flex;
  flex-direction: column;
  text-align: right;
  height: 100%;
  width: 300px;

  transition: width 0.2s;

  @include breakpoint-desktop {
    justify-content: flex-end;

    .navigation__close {
      display: none;
    }
  }

  @include breakpoint-mobile {
    position: absolute;
    top: 0;

    &--closed {
      width: 0 !important;
      overflow: hidden;
    }
  }

  &__top {
    flex: 1 0 auto;

    @include breakpoint-mobile {
      display: none;
    }
  }

  &__logo {
    justify-content: end;
    border-color: transparent;

    h1 {
      padding: 0 30px;
    }

    img {
      height: 150px;
      margin-right: 2em;
    }
  }

  &__bottom {
    height: 10vh;

    @include breakpoint-mobile {
      display: none;
    }
  }

  &__menu {
    padding: 1em 2em;

    nav {
      display: flex;
      flex-direction: column;
    }

    a {
      color: $colorGray0;
      font-size: map-get($fontSize, 'xl');
      text-decoration: none;

      &:active {
        color: $colorGray0;
      }

      &:visited {
        color: $colorWhite;
      }
    }
  }
}

.content {
  flex: 1 0;
  overflow-y: auto;

  @include breakpoint-desktop {
    z-index: 1;

    box-shadow: -18px -1px 26px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: -18px -1px 26px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -18px -1px 26px -12px rgba(0,0,0,0.75);

    padding: 1em max(1em, 5vw);
  }
}

.tag {
  border: 1px solid $colorSecondary;
  border-radius: 4px;
  color: $colorSecondary;
  padding: 5px 15px;
  cursor: pointer;
  text-decoration: none;
  line-height: 32px;

  &:hover {
    background-color: rgba($colorSecondary, 0.1);
  }

  &:active, &--active {
    background-color: rgba($colorSecondary, 0.07);
  }

  &:visited {
    color: $colorSecondary;
  }

  &:not(:last-of-type) {
    margin-right: 10px;
  }

  &--small {
    font-size: map-get($fontSize, 'small');
    padding: 3px 10px;
    line-height: 30px;
  }
}

.category {
  //border: 1px solid $colorSecondary;
  border-radius: 4px;
  background-color: $colorAccent;
  color: $colorWhite;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 15px;
}

.menu {
  &-item {
    border-radius: 4px;
    padding: 5px 30px;
    margin-bottom: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba($colorAccent, 0.2);
    }

    &:active, &--active {
      background-color: $colorAccent !important;
    }
  }
}