@import "vars";

body {
  height: 100vh;
  margin: 0;

  @media (min-width: $widthMobile) {
    display: flex;
  }
}

.navigation {
  background: $colorBlack;
  color: $colorWhite;
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: right;

  @media (min-width: $widthMobile) {
    justify-content: flex-end;
    width: 30%;
  }

  @media (max-width: $widthMobile) {
    width: 400px;
    position: absolute;
  }

  &__top {
    @media (min-width: $widthMobile) {
      flex: 1 0 auto;
    }
  }

  &__bottom {
    @media (min-width: $widthMobile) {
      flex: 0 0;
      height: 10vh;
    }
  }

  &__title {

  }

  &__menu {
    a {
      text-decoration: none;
    }
  }
}
