@import "vars";
@import "mixins";

body {
  height: 100vh;
  margin: 0;

  @include breakpoint-desktop {
    display: flex;
  }
}

.header {
  @include breakpoint-desktop {
    display: none;
  }

  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &--sidebar {
    text-align: right;
  }

  &__close {
    width: 2em;
    height: 2em;
    position: relative;
    margin-right: 1em;
  }

  &__toggle {
    z-index: 2;
    position: absolute;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:before,
    &:after,
    div {
      background: $colorBlack;
      content: "";
      display: block;
      height: 4px;
      border-radius: 2px;
      margin: 7px 0;
      transition: 0.3s;
    }

    &--active:before {
      transform: translateY(12px) rotate(135deg);
    }
    &--active:after {
      transform: translateY(-12px) rotate(-135deg);
    }
    &--active div {
      transform: scale(0);
    }
    &--active:before,
    &--active:after,
    &--active div {
      background: $colorWhite;
    }
  }

  height: 4em;
  display: flex;
  align-items: center;
  padding: 1em;

  border-bottom: 1px solid lightgray;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
  transition: visibility 0.2s;

  &--closed {
    display: none;
  }
}

.navigation {
  z-index: 1;
  background: $colorBlack;
  color: $colorWhite;
  display: flex;
  flex-direction: column;
  text-align: right;
  height: 100%;

  transition: width 0.2s;

  @include breakpoint-desktop {
    justify-content: flex-end;
    width: max(400px, 20%);

    .navigation__close {
      display: none;
    }
  }

  @include breakpoint-mobile {
    width: 400px;
    position: absolute;
    top: 0;
  }

  &--closed {
    width: 0 !important;
    overflow: hidden;
  }

  &__top {
    @include breakpoint-desktop {
      flex: 1 0 auto;
    }
  }

  &__bottom {
    @include breakpoint-desktop {
      height: 10vh;
    }
  }

  &__title {
    padding: 2em;

    @include breakpoint-mobile {
      display: none;
    }
  }

  &__menu {
    padding: 2em;

    a {
      text-decoration: none;
    }
  }
}
