$colorPrimary: #323232;
$colorSecondary: #0074D9;
$colorAccent: #3D9970;

$colorInfo: #7FDBFF;
$colorSuccess: #2ECC40;
$colorWarning: #FF851B;
$colorError: #FF4136;

$colorBlack: #111111;
$colorWhite: #ffffff;
$colorGray0: #DDDDDD;
$colorGray1: #AAAAAA;
$colorGray2: gray;
$colorGray3: dimgray;

$widthMobile: 1024px;

$fontSizes: (
        'mobile': (
                'small': 14px,
                'default': 16px,
                'large': 20px,
                'xl': 28px
        ),
        'desktop': (
                'small': 12px,
                'default': 14px,
                'large': 18px,
                'xl': 24px
        )
);
$fontSize: map-get($fontSizes, 'desktop');