// https://www.canva.com/colors/color-palettes/northern-lights-3/

$colorPrimary: #1C4670;
$colorSecondary: #278AB0;
$colorAccent: #1DC690;

$colorInfo: #7FDBFF;
$colorSuccess: #2ECC40;
$colorWarning: #FF851B;
$colorError: #FF4136;

$colorBlack: #111111;
$colorWhite: #EAEAE0;
$colorGray0: #AAAAAA;
$colorGray1: gray;
$colorGray2: dimgray;

$widthMobile: 1024px;

$fontSizes: (
        'mobile': (
                'small': 14px,
                'default': 16px,
                'large': 20px,
                'xl': 28px
        ),
        'desktop': (
                'small': 12px,
                'default': 14px,
                'large': 18px,
                'xl': 24px
        )
);
$fontSize: map-get($fontSizes, 'desktop');