.error {
  flex: 1 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: map-get($fontSize, 'xl');

  &__title {
    font-family: $fontFamilyBold;
    color: $colorSecondary;
    font-size: 400%;
    line-height: normal;
  }

  &__description {
  }
}