@import "../vars";
@import "../mixins";

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2vw;
  grid-row-gap: 0.5vh;
}

.post {
  @include shadow-default;
  padding: 30px 20px;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  &__category {
  }

  &__title {

  }

  &__date {
    color: $colorGray0;
  }

  &__cover {
    width: 100%;
    background-color: $colorGray2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tags {
    flex: 1 0;
  }

  &__section {
    padding-top: 20px;
    display: flex;
  }

  &--big {
    .post__title {
      padding: 50px 0;
      text-align: center;
    }

    p {
      //font-size: map-get($fontSize, 'large');

      &::first-letter {
        initial-letter: 6 1;
        color: $colorPrimary;
        font-weight: bold;
        line-height: .75;
        margin-right: .1em;
        //font-size: map-get($fontSize, 'xl');
        //text-transform: uppercase;
        //font-weight: bold;
      }
    }
  }
}