@import "../vars";
@import "../mixins";

.author {
  display: flex;
  align-items: center;

  a {
    color: $colorGray1;
    text-decoration: none;

    &:active {
      color: $colorGray1;
    }

    &:visited {
      color: $colorGray1;
    }
  }
}