
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
	<link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
    <script>
        let navbarOpened = true;

        toggleNavbar = function () {
            navbarOpened = !navbarOpened;

            const navbar = document.getElementById('navbar');
            const navbarBtn = document.getElementById('navbar-btn');
            const overlay = document.getElementById('overlay');

            if (!navbarOpened) {
                navbar.classList.add('navigation--closed');
                overlay.classList.add('overlay--closed');
                navbarBtn.classList.remove('header__toggle--active');

            } else {
                navbar.classList.remove('navigation--closed');
                overlay.classList.remove('overlay--closed');
                navbarBtn.classList.add('header__toggle--active');
            }
        }
    </script>
</head>
<body>
    <div class="header">
        <div class="header__close" onclick="toggleNavbar()">
            <div id="navbar-btn" class="header__toggle">
                <div></div>
            </div>
        </div>
        <h1>
            {{ site.title }}
        </h1>
    </div>
    <div id="navbar" class="navigation">
        <div class="header">
            <h1>
                {{ site.title }}
            </h1>
        </div>
        <div class="navigation__top"></div>
        <div class="navigation__title">
            <h1>
                {{ site.title }}
            </h1>
        </div>
        <div class="navigation__menu">
            {% include navbar.html %}
        </div>
        <div class="navigation__bottom"></div>
    </div>
    <div id="overlay" class="overlay overlay--closed"></div>
    <div class="content">
        {{ content }}
    </div>
</body>
</html>
