<!DOCTYPE html>
{% include lang.html %}
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#303032">
    <meta name="msapplication-TileColor" content="#303032">
    <link rel="mask-icon" href="/data/images/logo.svg" color="#303032">
    <link rel="icon" type="image/png" sizes="32x32" href="/data/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/data/images/logo.png">

    <title>
        {{ site.title }}
        {% if page.title %}
         - {{ page.title }}
        {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/styles.css' | relative_url }}">
    <script src="{{ '/assets/js/loader.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sidebar.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/i18n.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/headers.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
</head>
<body>
    <header class="header">
        <div class="content__wrapper header__inner">

            <a href="{{ site.url }}" class="header__logo">
                <img src="/data/images/logo-small.svg" alt="{{ site.title }}" height="48px"/>
                <h1>
                    {{ site.title }}
                </h1>
            </a>

            <div class="header__spacer"></div>
            {% include menu.html %}

            <div class="header__menu" onclick="toggleMenu()">
                <div id="menu-btn" class="burger">
                    <!-- <img src="/data/icons/FA-dots-vertical.svg" height="32px" width="32px" alt="Open menu"> -->
                    <div></div>
                </div>
            </div>
        </div>

        <!--
        {% comment %}
        {% include sidebar.html %}
        {% endcomment %}
        -->
    </header>
    <div id="overlay" class="overlay overlay--closed"></div>
    <main class="content">
        <div id="loader" class="loader">
            <!--<div class="loader__spinner"></div>-->
            <div class="loader__line"></div>
        </div>
        {{ content }}
    </main>
    <footer class="footer">
        <div class="content__wrapper footer__inner">
            <div class="footer__column">
                <div class="footer__title">
                    {{ site.title }}
                </div>
                <div>
                    {{ site.description }}
                </div>
                <div class="footer__links mt-1">
                    <div class="with-icon">
                        <img src="/data/icons/FA-rss-feed.svg" alt="Open RSS feed"/>
                        <a href="{{ site.feed.path | relative_url }}" target="_blank">
                            RSS
                        </a>
                    </div>
                    <div class="with-icon">
                        <img src="/data/icons/FA-github.svg" alt="GitHub page"/>
                        <a href="https://github.com/{{ site.author }}/{{ site.author }}.github.io" target="_blank">
                            GitHub
                        </a>
                    </div>

                    <div class="with-icon f-dropdown f-dropdown--top">
                        <img src="/data/icons/FA-translation.svg" alt="Change language"/>
                        <a>
                            {% include components/i18n.html code = 'language.select' %}
                        </a>

                        <div class="f-dropdown__content">
                            {% for lang in site.languages %}
                            <a class="f-dropdown__option" onclick="t('{{ lang }}')">
                                {{ site.data.i18n.languages[lang] }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__column">
            </div>
            <div class="footer__column footer__column--spacer">
            </div>
            <div class="footer__column footer__column--right">
                <div>
                    {% include components/i18n.html code = 'footer.powered' %}
                    <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>
                </div>
                <div>
                    {% include components/i18n.html code = 'footer.hosted' %}
                    <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
