---
layout: default
---

<article>
    {% if page.title%}
    <h1>{{page.title}}</h1>
    {% else %}
    <h1>Untitled post</h1>
    {% endif %}

    <div>
        {{ page.date | date: "%b %d, %Y" }}
    </div>
    <i>
        post date: {{ page.date }}
    </i>

    <div>
        [
        {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tags/{{ tag_name }}">
            <code class="highligher-rouge">
                <nobr>{{ tag_name }}</nobr>
            </code>
            &nbsp;
        </a>
        {% endfor %}
        ]
    </div>

    <p>
        {{ content }}
    </p>
</article>
