---
layout: default
---

<article class="post {% if page.categories %}post--{{ page.categories }}{% endif %}">

    {% if page.cover_image %}
    <div
        class="post__cover"
        style="background-image: url('/data/images/{{ page.cover_image }}');"
    >
        <div class="post__overlay"></div>
        <img class="content__wrapper" src="/data/images/{{ page.cover_image }}" alt="{{ page.title }}"/>
    </div>
    {% endif %}

    <div class="post__main content__wrapper">
        <div class="post__section post__info">
            <div class="flex-group">
                <div class="post__date with-icon">
                    <img src="/data/icons/FA-calendar.svg" alt="Calendar"/>
                    {% include components/date.html date = page.date %}
                </div>

                <div class="post-preview__date with-icon">
                    <img src="/data/icons/FA-directory.svg" alt="Category"/>
                    {% assign category = page.categories | first | default: 'other' %}
                    {% assign categoryCode = 'category.' | append: category %}
                    {% include components/i18n.html code = categoryCode %}
                </div>

                <div class="post__date with-icon">
                    <img src="/data/icons/FA-user.svg" alt="Author"/>
                    {% include components/author.html author = page.author %}
                </div>
            </div>
        </div>

        <div class="post__title">
            <h1>
                {% if page.title%}
                {{ page.title }}
                {% else %}
                Untitled post
                {% endif %}
            </h1>
            {% if page.description%}
            <div class="post__description">
                {{ page.description }}
            </div>
            {% endif %}
        </div>

        <div class="post__content page markdown">
            {{ content }}
        </div>

        <div class="post__section">
            <nav class="post__tags">
                {% for tag in page.tags %}
                <a href="/posts/tags/{{ tag | slugify }}" class="chip chip--small chip--outlined chip--clickable chip--secondary">
                    #{{ tag }}
                </a>
                {% endfor %}
            </nav>
        </div>
    </div>
</article>
